@use "./media" as *;

:root {
  --primary-color-dark: #000000;
  --primary-color-light: #ffffff;

  --color-gray-secondary: rgba(60, 60, 67, 0.6);
  --color-gray-tertiary: rgba(60, 60, 67, 0.3);
  --color-gray-quaternary: rgba(60, 60, 67, 0.18);

  --color-light-secondary: rgba(235, 235, 245, 0.6);
  --color-light-tertiary: rgba(235, 235, 245, 0.3);
  --color-light-quaternary: rgba(235, 235, 245, 0.18);

  --color-primary-900: #1f1d47;
  --color-primary-700: rgb(72, 49, 157);
  --color-primary-700-20: rgba(72, 49, 157, 0.2);
  --color-primary-400: #c427fb;
  --color-primary-200: #e0d9ff;

  --gradient-linear-900: linear-gradient(0deg, #2e335a 0%, #1c1b33 100%);
  --gradient-linear-600: linear-gradient(
    260deg,
    rgba(54, 42, 132, 1) 0%,
    rgba(89, 54, 180, 1) 100%
  );
  --gradient-linear-700: linear-gradient(0deg, #262c51 0%, #3e3f74 100%);
  --gradient-linear-500: linear-gradient(
    0deg,
    #aec9ff 0%,
    #aec9ff 55%,
    #083072 100%
  );
  --gradient-linear-400: linear-gradient(0deg, #427bd1 0%, #c159ec 100%);

  --gradient-radial: radial-gradient(at 20% 100%, #f7cbfd 0%, #7758d1 100%);

  --border-radius-small: 10px;
  --border-radius: 44px;

  --font-family-base: "SFProDisplay", sans-serif;
  --font-family-second: "SFProText", sans-serif;

  --container-padding-x: 24px;

  --input-height: 36px;

  --icon-size: 54px;
  --icon-weather-size: 48px;

  --shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 25%);

  --transition-duration: 0.3s;
}

@include mobile {
  :root {
    --icon-size: 40px;

    --icon-weather-size: 32px;
  }
}
