@use "../../../../styles/abstracts/media" as *;
@use "../../../../styles/abstracts/mixins" as *;

.card {
  position: relative;
  width: 100%;

  &::after {
    @include square(100%);

    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-image: url("/src/assets/weather-card-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 32px;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  z-index: 2;
  padding: 48px 40px 40px 40px;
}

.tempCurrent {
  font-size: 64px;
  line-height: calc(70 / 64);
  letter-spacing: 0.4px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.detailsBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tempRange {
  display: flex;
  align-items: center;
  gap: 8px;
}

.temp {
  font-size: 16px;
  color: var(--color-light-secondary);
}

.location {
  font-size: 20px;
  font-weight: 500;
}

.description {
  font-size: 16px;
}

.image {
  @include square(260px);

  position: absolute;
  top: -70px;
  right: 40px;

  @include mobile {
    @include square(200px);

    top: -20px;
    right: 20px;
  }

  @include mobile-s {
    @include square(160px);

    top: 0;
    right: 0;
  }
}
