@use "../../../../../styles/abstracts/mixins" as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  min-width: 60px;
  height: 100%;
  padding: 16px 8px;
  background-color: var(--color-primary-700-20);
  border: 1px solid var(--color-light-secondary);
  border-radius: 30px;
  box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 25%), inset 1px 1px 0px 0px #ffffff;
  scroll-snap-align: start;
  transition: all 0.5s ease;
  transform: translateY(0);
  cursor: pointer;

  &:hover {
    transform: translateY(-8px);

    .icon {
      transform: scale(1.1);
      filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.7));
    }
  }
}

.card.current {
  background-color: var(--color-primary-700);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.infoTime,
.infoDegrees {
  color: var(--primary-color-light);
}

.info,
.infoTemperature {
  white-space: nowrap;
}

.info {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.temperature {
  flex-grow: 1;
  align-content: end;
}

.infoTemperature {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
}

.info.accent {
  margin-bottom: 4px;
  color: #40cbd8;
}

.icon {
  @include square(32px);

  transition: all 0.3s ease;
}
